header{ 
background-color: firebrick;
text-align: center;

}
.header-detail{
    color: khaki;
}
.main-detail{
    background-color: lightgrey;
    padding: 1em;
}
body{
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0%;

}